<p><%= link_to "New", new_resource_url %></p>

<% if collection.any? %>
<table>
  <thead>
    <tr>
    <% collection.first.attributes.each do |a| %>
      <th><%= a[0] %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |r| %>
    <tr>
    <% r.attributes.each do |a| %>
      <td><%= a[1] %></td>
    <% end %>
      <td><%= link_to "Show", resource_url(r) %></td>
      <td><%= link_to "Edit", edit_resource_url(r) %></td>
      <td><%= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>